@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply max-w-[100vw] overflow-x-hidden;
}

#home{
  background: linear-gradient(rgba(0,0,0,0.5),#000000),url("/hero.gif");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: grid;
}

#testimonial {
  background: linear-gradient(#000, rgba(0,0,0,0.9), rgb(17 24 39)),url("/bewertung.png");
  background-size: cover;
  background-position: center;
}

#kunden {
  background: linear-gradient(#000, rgba(0,0,0,0.9), #000, #000, #000),url("/kunden.png");
  background-size: cover;
  background-position: center;
}

#prjktBck {
  background: linear-gradient(#000, rgba(0,0,0,0.9), #000),url("/prjktbck.png");
  background-size: cover;
  background-position: center;
}

#about {
  background: linear-gradient(#000b21, rgba(0,0,0,0.5), #000b21),url("/bck.jpg");
  background-position: center;
  text-shadow: 1px 1px 2px #000b21;
}

@media only screen and (max-width: 766px) {
  #hero-btn {
    @apply m-auto;
  }
}

.dienstbg{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,11,33,1) 100%);
}

.ss {
  background: rgb(205,149,86), url("/hero-bg.gif");
  background: radial-gradient(circle, rgba(205,149,86,1) 0%, rgba(49,41,33,1) 79%, rgba(16,8,16,1) 100%);
} 

.zitat {
  background: linear-gradient( rgba(0,0, 0, 0.9),#000b21);
}

Images {
  z-index: 20;
}


/* FOOTER */

#footer {
  padding: 100px 0 20px;
  background: #111;
  position: relative;
}

.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,.footer-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-right {
  text-align: right;
}

.footer-row h1 {
  margin: 10px 0;
  text-decoration: underline;
}

.footer-row p {
  line-height: 35px;
}

.social-links {
  text-align: center;
}

.ubergang {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #001b51 90%);
}

.bcktst {
  background: rgb(132,156,200);
  background: linear-gradient(90deg, rgba(132,156,200,1) 0%, rgba(0, 187, 255, 0.9) 33%, rgba(212,187,71,.8) 66%, rgba(216,116,116,1) 100%);
}