@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply max-w-[100vw] overflow-x-hidden;
}

#home{
  /* background: linear-gradient(rgba(0,0,0,0.5),#000000),url("/was.gif"); */
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: grid;
}

.dienstbg{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,11,33,1) 100%);
}

.ss {
  background: rgb(205,149,86), url("/hero-bg.gif");
  background: radial-gradient(circle, rgba(205,149,86,1) 0%, rgba(49,41,33,1) 79%, rgba(16,8,16,1) 100%);
} 

.zitat {
  background: linear-gradient( rgba(0,0, 0, 0.9),#000b21);
}

Images {
  z-index: 20;
}


/* FOOTER */

#footer {
  padding: 100px 0 20px;
  background: #111;
  position: relative;
}

.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,.footer-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-right {
  text-align: right;
}

.footer-row h1 {
  margin: 10px 0;
  text-decoration: underline;
}

.footer-row p {
  line-height: 35px;
}

.social-links {
  text-align: center;
}

.ubergang {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,11,33,1) 60%);
}